{#<!DOCTYPE html>#}
{#<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->#}
{#<!--[if !IE]><!-->#}
{#<html lang="en">#}
{#<!--<![endif]-->#}
{#<head>#}
{#    <meta charset="utf-8" />#}
{#    <title>{% if app.request.locale == 'en' %}Forbidden{% else %}Вход запрещён{% endif %} | Project DCS</title>#}
{#    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />#}
{#    <link href="/assets/admin/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />#}
{#    <link href="/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />#}
{#    <link href="/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet" />#}
{#    <link href="/libraries/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />#}
{#    <link href="/libraries/animate.css/animate.min.css" rel="stylesheet" />#}
{#    <link href="/assets/admin/css/default/style.min.css" rel="stylesheet" />#}
{#    <link href="/assets/admin/css/default/style-responsive.min.css" rel="stylesheet" />#}
{#    <script src="/libraries/PACE/pace.min.js"></script>#}
{#</head>#}
{#<body class="pace-top">#}
{#<div id="page-loader" class="fade show"><span class="spinner"></span></div>#}

{#<div id="page-container" class="fade">#}
{#    <div class="error">#}
{#        <div class="error-code m-b-10">403</div>#}
{#        <div class="error-content">#}
{#            {% if app.request.locale == 'en' %}#}
{#                <div class="error-message">Forbidden</div>#}
{#                <div class="error-desc m-b-30">#}
{#                    You have no access rights. <br />#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="error-message">Вход запрещён</div>#}
{#                <div class="error-desc m-b-30">#}
{#                    У вас недостаточно прав для посещений данной страницы. <br />#}
{#                </div>#}
{#            {% endif %}#}
{#            <div>#}
{#                <a href="{{ path('main_index_index') }}" class="btn btn-success p-l-20 p-r-20">{{ 'button.back_home'|trans }}</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<!-- ================== BEGIN BASE JS ================== -->#}
{#<script src="/libraries/jquery/dist/jquery.min.js"></script>#}
{#<script src="/libraries/jquery-ui/jquery-ui.min.js"></script>#}
{#<script src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>#}
{#<!--[if lt IE 9]>#}
{#<script src="/assets/crossbrowserjs/html5shiv.js"></script>#}
{#<script src="/assets/crossbrowserjs/respond.min.js"></script>#}
{#<script src="/assets/crossbrowserjs/excanvas.min.js"></script>#}
{#<![endif]-->#}
{#<script src="/libraries/jquery-slimscroll/jquery.slimscroll.min.js"></script>#}
{#<script src="/libraries/js-cookie/src/js.cookie.js"></script>#}
{#<script src="/assets/admin/js/theme/default.min.js"></script>#}
{#<script src="/assets/admin/js/apps.min.js"></script>#}
{#<!-- ================== END BASE JS ================== -->#}

{#<script>#}
{#    $(document).ready(function() {#}
{#        App.init();#}
{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}

